/*
    daScript: table
    https://github.com/GaijinEntertainment/daScript
*/

[export]
def main
    var tab: table<string; int>
    tab["10"] = 10
    tab["20"] = 20
    tab["some"] = 10
    tab["some"] = 20  // replaces the value for 'some' key

    var v = find(tab,"some")
    print("before {v}\n")

    tab |> clear()
    print("after {v}\n")