import std.io.console;

function isPrime(n) {
    if(n < 2) {
        return false;
    }

    for(i = 2; i * i <= n; i++) {
        if(n % i == 0) {
            return false;
        }
    }

    return true;
}

num = 29;
if(isPrime(num)) {
    println(num + " is a prime number.");
} else {
    println(num + " is not a prime number.");
}
