//
// hailstone.hk
//

fn hailstone(n) {
  var seq = [n];
  while (n != 1) {
    if (n % 2 == 0)
      n /= 2;
    else
      n = (n * 3) + 1;
    seq[] = n;
  }
  return seq;
}

println(hailstone(7));
