//
// quadratic_roots.hk
//

import { sqrt } from math;

fn quadratic_roots(a, b, c) {
  let d = b * b - 4 * a * c;
  if (d < 0)
    return nil;
  let sd = sqrt(d);
  let x1 = (-b + sd) / (2 * a);
  let x2 = (-b - sd) / (2 * a);
  return [x1, x2];
}

println(quadratic_roots(1, 3, 2));
