#
#   Fexl: hailstone sequence
#   https://github.com/chkoreff/Fexl
#

# divide even by 2
# odd: multiply by 3 and add 1

\is_even=(\x eq 0; mod x 2)

# https://en.wikipedia.org/wiki/Collatz_conjecture
# The "hailstone sequence"
\hailstone=
	(@\loop\x
	cons x;
	le x 1 [];
	\x=(is_even x (/ x 2) (+ 1; * x 3))
	loop x
	)

\try=
	(\x
	each (hailstone x) (\x say ["x = " x])
	nl
	)

#try 3
#try 4
#try 5
#try 19
try 23
#try 27
#try 6171
#try 9780657631