main:
DECLARATIONS
    H,e,l,o,W,r,d,a,q,break,rm,em OF TYPE CHARACTER;
CODE
    'H' -> H; 'e' -> e; 'l' -> l; 'o' -> o; 'W' -> W; 'r' -> r; 'd' -> d; 'a' -> a; 'q' -> q;
    (q-a)+(q-a) -> break;
    44 -> rm;
    33 -> em;
    
    WRITE(H,e,l,l,o, rm, break, W,o,r,l,d, em);
    NEWLINE
ENDP main.