; 
;   IDL: 99 bottles of beer 예제
;   출처: https://rosettacode.org/
; 

Pro main
 
for i=1,99 do begin
    print, 100-i, " bottles of beer on the wall.", 100-i, $
    " bottles of beer.", " Take one down, pass it around," , $
    99-i, " bottles of beer on the wall."
endfor
End