/*
    Noumenon: FizzBuzz
    https://github.com/twied/noumenon
*/

for(var i : range(1, 100)) {
    if (((i % 5) == 0) && ((i % 3) == 0)) {
        println("FizzBuzz");
    } else if ((i % 5) == 0) {
        println("Buzz");
    } else if ((i % 3) == 0) {
        println("Fizz");
    } else {
        println(i);
    }
}