/*
    JerryScript: times table
    https://github.com/jerryscript-project
*/

console = {
    log: print,
    error: print,
    warn: print,
}

for (let i=2; i<10; i++)
    for (let j=1; j<10; j++)
        console.log(`${i} * ${j} = ${i*j}`)