/*
    Kenaf: generator
    https://github.com/edmundmk/kenaf
*/

def yield generator( start, stop )
    for i = start : stop do
        yield i
    end
end

for i : generator( 32, 44 ) do
    print( "%d\n", i )
end