let i = 0;
while i < 100 {
  if i % 3 == 0 && i % 5 == 0 {
    print "Fizzbuzz\n";
  } else if i % 3 == 0 {
    print "Fizz\n";
  } else if i % 5 == 0 {
    print "Buzz\n";
  } else {
    print i, "\n";
  }
  i = i + 1;
}
