//! This script runs an infinite loop, ending it with a break statement.

let x = 10;

// simulate do..while using loop
loop {
    print(x);

    x -= 1;

    if x <= 0 { break; }
}

export x as foo;
