##
##  Joao: functions
##  https://github.com/Altoids1/Joao
##

/foo()
{
	Value x = 2;
	return x;
}

/main()
{
	Number TEST_NUMBER = 3;
	if(foo() == 2)
	{
		Value number = foo();
		if(number == 2)
		{
			print("foo OK");
			return;
		}
	}
	throw /error/New(3,"Functions failed!");
}