;
;   Macro Assembler(매크로 어셈블러) 4.0: Hello, World 예제
;

data segment
buf db "Hello, World!", 13, 10, "$"
data ends

code segment
assume cs:code, ds:data
start: mov ax, data
mov ds, ax
lea dx, buf
mov ah, 09
int 21h
mov ah, 4ch
int 21h
code ends

end start