# 난해한 혀엉... 언어 구구단 예제

형. 흑.......... 항..........♥ 흣.......... 흑... 항. 혀엉.. 혀어어엉.. 하앗.
혀어어어어어엉...... 항. 혀어어엉... 혀엉.......... 하앙. 흣... 항. 혀어어엉.. 혀엉.....
혀어어어어어엉.. 하아앙. 혀어어엉.......... 혀어엉....... 하앙. 혀엉................ 항.
흑... 흣... 하아앙... 흑.......... 하앗. 혀엉..... 항. 흑.......... 흣..........
하아앙.......... 흐으윽... 흣... 형. 하아아아아앙... 흑..........♥ 히잇? 혀엉. 형..... 하앗.
흑... 하앙... 흐윽... 흣... 형. 하아아아앙... 흑.......... 하앙.......... 흑..........♥
읏? 흐윽. 하앗..