//
//   LeekScript: strings
//   https://github.com/leek-wars
//

let m = ['A', 'T', 'C', 'G']
var count = 0
var tests = 500

for var k = 0; k < tests; k++ {

	var adn = ''
	for var j = 0; j < 200; j++ {
		adn += m[Number.randInt(0, 4)]
	}
	var contains = adn.contains('GAGA');
	if contains count++
}

100 * (count / tests) // ~ 52%