#!/bin/bash
#
# 쉘스크립트 조건문 예제

echo "Enter username"
read username
echo "Enter password"
read password

if [[ ( $username == "admin" && $password == "secret" ) ]]; then
  echo "valid user"
else
  echo "invalid user"
fi