#
#   StormScript: class
#   https://github.com/stormprograms/StormScript
#

type person {
	str name;
	int age;

	func birthday => years, div {
		y: years / div;
		age +: y;
	}

	init => nm, _age {
		name: nm;
		age: _age;
	}
}

person p => "bob", 30;

printl p.name, " is " p.age;

p.birthday => 20, 2;

printl p.name, " is " p.age;