#
#   StormScript: foreach
#   https://github.com/stormprograms/StormScript
#

colors: ["green", "yellow", "black", "blue", "black"];
animals: ["cat", "dog", "cow", "sheep"];

for color in colors {
	for animal in animals {
		printl "$color $animal";
	}
}