//
// Wisnia: Fibonacci
//

fn fibonacci(n: int) -> int {
  if (n <= 1) {
    return n;
  }
  int prev = 0;
  int current = 1;
  for (int i = 2; i <= n; i = i + 1) {
    int next = prev + current;
    prev = current;
    current = next;
  }
  return current;
}

fn main() {
  print(fibonacci(46),"\n");
}
