/*
    Gosu(고수) 99 bottles of beer 예제
    출처: https://rosettacode.org/
*/

for (i in 99..0) { 
    print("${i} bottles of beer on the wall")
 
    if (i > 0) {
        print("${i} bottles of beer")
        print("Take one down, pass it around")
    }
    print(""); 
}