/*
    C++: float point
*/
#include <iostream>

using namespace std;

int main()
{
    double i = 89.95, j = 89.95;
    j+=100;
    j-=100;
    
    cout << (i == j ? "same":"diff") << endl;

    return 0;
}