<$
print "hey!\n";
int array bigarray = 3;
int array fooarray = {4,6,7};
int bob;

print fooarray[0]," ",fooarray[1]," ",fooarray[2],"\n";
print bigarray[0],"\n";
bigarray[0] = 7;
print bigarray[0],"\n";
bigarray[1] = 3;
print bigarray[1],"\n";
bigarray[6+3] = 12;
print bigarray[9],"\n";

bob = 333;
print bob,"\n";
$>
