# 약속 피보나치수열 예제
# 출처: https://yaksokjs.0xabcdef.com/play

약속 (숫자)의 피보나치
    만약 숫자 = 0 이면
        결과: 0
    아니면서 만약 숫자 = 1 이면
        결과: 1
    아니라면
        결과: ((숫자-1)의 피보나치) + ((숫자-2)의 피보나치)

(10의 피보나치) 보여주기
