--
--  Futhark(푸타르크): 100 doors 예제
--  출처: http://www.rosettacode.org/
--

let main(n: i64): [n]bool =
    loop is_open = replicate n false for i < n do
        let js = map (*i+1) (iota n)
        let flips = map (\j ->
                if j < n
                then !is_open[j]
                else true -- Doesn't matter.
            ) js
        in scatter is_open js flips