#
#   Boson: Hello, World!
#

consume fn printchar(int d) void;
consume fn nextLine() void;

fn start() void {
    int a[13] = [72, 101, 108, 108, 111, 44, 32, 87, 111, 114, 108, 100, 33];

    for (int i=0; i<13; i=i+1) {
        printchar(a[i]);
    }
    nextLine();
    return;
}