//
// Chili: Fibonaci
//

use std.c.printf

fn fib(n: i32)  = {
    if n <= 1 {
        n
    } else {
        fib(n - 1) + fib(n - 2)
    }
}

fn main() -> () = {
    printf("result = %lu\n".ptr, fib(24))
}
