--  Oracle: Simple SELECT

SELECT EMPLOYEE_ID
     , FIRST_NAME
     , LAST_NAME
     , EMAIL
     , PHONE
  INTO:emp
  FROM EMPLOYEES
 WHERE HIRE_DATE > TO_DATE('20000101', 'YYYYMMDD')
ORDER BY EMPLOYEE_ID
;
