#(setprecision 10)
(let n  1.0)
(let pi 0.0)
(print "Calculating PI. This can take a while...\n")
(foreach i in (: 1 100000)
	(let pi (+ pi (- (/ 4 n) (/ 4 (+ n 2)))))
	(let n (+ n 4))
)
(print pi "\n")
