<!-- JSP Hello, World! 예제 -->
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello</title>
    </head>
<body>
	<h1><% out.println("Hello, World!"); %></h1>
</body>
</html>