#
#   Citron: FizzBuzz
#   https://github.com/alimpfard/citron
#

1 to: 100 step: 1 do: {  :i
	var f is 'Fizz'.
	var b is 'Buzz'.

	var s is i toString.
	i mod: 15, = 0 ifTrue: {
		s is f + b.
	}, ifFalse: {
		i mod: 3, = 0 ifTrue: {
			s is f.
		}.
		i mod: 5, = 0 ifTrue: {
			s is b.
		}.
	}.
	Pen writeln: s.
}.