/* Java(자바) 구구단 예제 */

class Main {
	static public void main(String []args) {
		for (int i=2; i<10; i++)
            for (int j=1; j<10; j++)
                System.out.println(i + " * " + j + " = " + i*j);
    }
}