# R ggplot2 사용 예제
library('ggplot2')

p <- ggplot(data=mtcars, aes(x=disp, y=mpg, size=hp, color=wt)) + geom_point() +
     stat_smooth(color='black', fill='grey')

ggsave('ryugod.png')
# imshow는 표준 명령어가 아닙니다. ryugod.com에서 이미지를 표시하기 위한 명령입니다.
system('imshow ryugod.png')