# 난해한 혀엉... Hello, World! 예제

혀어어어어어어어엉........ 핫. 혀엉..... 흑... 하앗... 흐윽... 형. 하앙. 혀엉....
하앙... 흐윽... 항. 항. 형... 하앙. 흐으윽... 형... 흡... 혀엉..
하아아앗. 혀엉.. 흡... 흐읍... 형.. 하앗. 하아앙... 형... 흐윽... 혀어어엉..
하아앗... 혀어엉..... 하앙. 하앙. 흐윽... 형.. 혀어어엉... 하앙... 하앙. 혀엉.... 하앙. 흑...
항. 형... 흡 하앗. 혀엉..... 흑. 흣