module FizzBuzzExample = {

	FizzBuzz (n: int): string = {
		? n % 15 == 0 = "FizzBuzz"
		: n % 3 == 0 = "Fizz"
		: n % 5 == 0 = "Buzz"
		: = n.ToString
	}

	<EntryPoint>
	Main (): int = {
		
		var i = 0 # Inline variable declaration in for loop is not supported yet
		@ 100 = {
			println FizzBuzz i += 1
		}
		
		0
	}
}
