/*
    Windows Borland(볼랜드) C++ 5.5 Hello, World! 예제

    컴파일 후 실행 파일을 다운로드 받으려면 "imshow main.exe" 를 입력하세요
*/
#include <iostream>

using namespace std;

int main()
{
    cout << "Hello, World!" << endl;

    return 0;
}