//
//  Caboose: class
//

class Hello {
    printName() {
        print(this.name);
    }
}

print(Hello);

var hello = Hello();
print(hello);

hello.name = "Caboose";
print(hello.name);

hello.name = "rocks";
hello.printName();

print(hello.printName);