import core

function {integer x} is divisible by {integer y}
    return x % y = 0
end

loop i from 1 to 100
    set print number to true
    if i is divisible by 3
        write "Fizz"
        set print number to false
    end
    if i is divisible by 5
        write "Buzz"
        set print number to false
    end
    if print number
        write i
    end
    write newline
    wait
end
